body {
    font-family: 'Inter', serif;
    font-size: 25px;
}

.header {
    text-align: center;
}

h2 {
    color: #7F7F88;
    font-weight: 400;
}

h1 {
    color: #585858;
    font-weight: bold;
}

h6 {
    color: #A7A7A7;
    font-weight: 300;
}

.card-feature {
    border-top: solid 5px #DB5A5D;
    border-radius: 9px;
    padding: 30px;
    width: 325px;
    height: 232px;
    box-shadow: 0px 5px 10px #00000057;
    display: flex;
    flex-flow: column;
}

.card-title {
    font-size: 30px;
    font-weight: bolder;
    color: #666666;
}

.card-description {
    font-size: 18px;
    color: #B7B7B7;
    margin: 20px 0;
}

.card-icon {
    flex: 1;
    display: flex;
    flex-flow: column;
    align-items: flex-end;
    justify-content: flex-end;
}